<div>
    <h3>Create User</h3>
    <form action="#" phx-submit="add" >
        username: <%= text_input :user, :username, placeholder: "username" %>
        email: <%= email_input :user, :email, placeholder: "email" %>
        amount: <%= text_input :user, :amount, placeholder: "Initial amount" %>
        <%= submit "Add", phx_disable_with: "Adding..." %>
    </form>

    <%=for user <- @users do %>
        <div> <%=  user.id %></div>
    <% end %>

</div>
